




<div class="cardContainer">
    <div class="mybox">
        <div class="my-product-img">
            <img src="~/Images/@Model.Image" alt="" />
        </div>
        <div class="my-product-info">
            <h1 class="myH1">@Model.Name</h1>
            <p class="myprice">$@Model.UnitPrice</p>
            <p class="mydescription">@Model.Description</p>
            <p class="price">In Stock: @Model.UnitsInStock</p>
            <p class="price">Category: @Model.CategoryName</p>
        </div>
    </div>
</div>